@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  color: #455946;
  background: linear-gradient(0deg,rgba(254, 141, 147, 1) 40%, rgba(181, 191, 99, 1) 60%);
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 2rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #FFFEDF;
    padding: 50px;
}

h1 {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #8E5477;
}
h2 {
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #A64444;
}
h3 {
    font-weight: 550;
    margin-bottom: 1.5rem;
    text-align: right;
    color: #455946;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

th,
td {
    padding: 1rem;
    text-align: left;
    border-bottom: 2px solid #8E5477;
}

th {
    background-color: #FFFEDF;
    font-weight: 550;
}

tbody tr:nth-child(even) {
    background-color: #FFFEDF;
}

td:nth-child(2) {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

p {
    padding: 2px;
    color: #455946;
}

#promedio {
    font-weight: 800px;
    color: #8E5477;
}

.barra-svg {
    width: 250px;
    height: 24px;
    display: block;
}

svg {
    display: block;
}

a {
  color: #663B5B;
}

a:visited {
  color: #391E2D;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: #FE8D93;
    transition: color ease 0.6s;
}
